<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ 游戏名称 }} - {{ 游戏副标题 }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        max-width: 600px;
      }

      footer {
        margin-top: 30px;
      }

      h1, h2, h3, h4, h5, h6 {
          margin: 3px 0;
      }
    </style>
    {% block style %} {% endblock %}
  </head>
  <body>
    {# 输出页面消息 #}
    {% block msg %}
      {% for m in 页面消息() %}
      	<p>{{ m }}</p>
      {% endfor %}

    {% endblock %}
    {% block content %} {% endblock %}
    <footer>
      {% if isDev %}
      	{% include '开发信息.html' %}
      {% endif %} 
      {% include '底部.html' %}
    </footer>
  </body>
</html>
